.activity {
  position: fixed;
  top: 41.5%;
  left: 80%;
  background-color: #fff;
  width: 250px;
  height: 350px;
  max-height: 400px;
  overflow: auto;
}
.activity-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  height: 50px;
  vertical-align: middle;
  border-bottom: 1px solid #efefef;
  padding-left: 10px;
}
.activity-body {
  padding-left: 10px;
  padding-top: 10px;
}
.activity-item:hover {
  cursor: pointer;
  background-color: #ddd;
}
.activity-item-avatar {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 15px;
}
.activity-item-avatar img {
  border-radius: 50%;
}
.activity-item-content {
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
  min-height: 40px;
}
.activity-item-content-desc {
  font-size: 12px;
}
.activity-item-content-time {
  opacity: 0.5;
  font-size: 10px;
}
